# Application
NODE_ENV="development"

# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/weavy-clone"

# Clerk Authentication (Server)
CLERK_SECRET_KEY=""

# Clerk Authentication (Client)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=""
NEXT_PUBLIC_CLERK_SIGN_IN_URL="/sign-in"
NEXT_PUBLIC_CLERK_SIGN_UP_URL="/sign-up"


# Groq
GROQ_API_KEY=""

# Cloudinary (Server)
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# Cloudinary (Client)
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=""
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=""
